/***************/
/*    FONTS    */
/***************/

@font-face {
  font-family: "Smurf";
  src:
    url("../fonts/Bazinga-Regular.otf") format("opentype"),
}

@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/rene_bieder__milliard_medium-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder__milliard_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNovaLight';
  src: url('../fonts//rene_bieder__milliard_light-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder__milliard_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
	height:100vh;
	width:100%;
  overflow-y: hidden;
  cursor: url('../images/cursorNormaal.png'), auto;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/*  CUSTOM SCROLBAR  */
/*********************/

/* bron: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* breedtje */
::-webkit-scrollbar {
  height: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg-color-gras);
  border-radius: 0.625em;
  cursor: url('../images/cursorNormaal.png'), auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--header-primary-color);
  border-radius: 0.625em;
  cursor: url('../images/cursorPointer.png'), auto;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--smurf-color-light);
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --bg-color:#FFFFFF;
  --bg-color-gras: #ACBD3D;
  --header-primary-color:#0055A4;
  --header-secondary-color:#767676;
  --header-text-shadow:#FFFFFF;
  --img-shadow: #0009;
  --text-color-light: #ffffff;
  --text-color: #1b1b1b;
  --border-color:#1b1b1b;
  --smurf-color-light:#63b2f9;
  --hover-button: linear-gradient(90deg, rgba(15, 109, 198, 1) 0%, rgba(26, 133, 233, 1) 50%, rgba(194, 225, 255, 100) 50%, rgba(194, 225, 255, 100) 100%);
}


/* DONKER THEMA */
:root.darkmode {
  --bg-color:#151515;
  --bg-color-gras: #787c2c;
  --header-primary-color:#cc1c1c;
  --header-secondary-color:#767676;
  --header-text-shadow:#d5d5d5;
  --img-shadow: #0009;
  --text-color-light: #ffffff;
  --text-color: #ffffff;
  --border-color:#d5d5d5;
  --smurf-color-light:#f03a3a;
  --hover-button: linear-gradient(90deg, rgba(2, 63, 120, 1) 0%, rgba(2, 63, 120, 1) 50%, rgba(0, 85, 164, 1)  50%, rgba(0, 85, 164, 1) 100%);
}





/********************************************/
/*    HEADER + h1 + animatie Surfen woord   */
/********************************************/

header{
  position:fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
	left:2em;
	top:2em;
	margin:0;
  width: 100%;
}

header h1 {
  display: flex;
  color:var(--header-primary-color);
  font-family: Smurf, Arial, Helvetica, sans-serif;
  font-size: 2.8em;
  text-shadow: 2px 2px 0px var(--header-text-shadow);
  margin: 0;
  height: 1.6em;
  width: 8em;
}

/* voor het woord 'smurfen' */
header h1 span{
  padding: 0;
}

/* Beetje meer ruimte aan de linkerkant */
header h1 span:nth-of-type(1){
  margin-left: .25em;
}

/* animatie van het woord 'smurfen' */
/* Bron https://codepen.io/alvarotrigo/pen/xxLvyOG?editors=1100 */
header h1:hover span{
  display: inline-block;
  animation-name: springen;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

header h1:hover span:nth-of-type(2) {
  animation-delay: .15s;
}

header h1:hover span:nth-of-type(3) {
  animation-delay: .3s;
}

header h1:hover span:nth-of-type(4) {
  animation-delay: .45s;
}

header h1:hover span:nth-of-type(5) {
  animation-delay: .6s;
}

header h1:hover span:nth-of-type(6) {
  animation-delay: .75s;
}

header h1:hover span:nth-of-type(7) {
  animation-delay: .9s;
}





/**********************/
/*    muziek button   */
/**********************/

header section button{
  background: var(--hover-button);
  background-size: 200% 100%;
  background-position: 100% 0%;
	transition: .3s;

  animation: schudden 2s linear ;
  animation-delay: 7s;
  display: flex;
  align-items: center;
  font-family: proximaNova, Arial, Helvetica, sans-serif;
  padding: .2em 1.2em .2em .8em;
  border-radius: .8em;
  color: var(--text-color);

	transform:translatey(-.5em);
	
	appearance:none;
	border:none;
	box-shadow:0 .5em 0 #333;		
}


header section button img{
  width: 4em;
}

/* Bron voor button states: https://codepen.io/shooft/pen/eYKdyxY?editors=1100 */
header section button:hover{
	background-position: 0% 0%;
  color: var(--text-color-light);
  cursor: url('../images/cursorPointer.png'), auto;
}

header section button:focus-visible{
  transform:translatey(-.75em);
	outline: none;
	box-shadow:0 .75em 0 var(--border-color);
}

header section button:active{
  transform:translatey(0);
	box-shadow: 0 0 0 var(--border-color);
}






/*****************************/
/*    Toggle -> dark mode    */
/*****************************/
header section:nth-of-type(2){
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  background-color: var(--bg-color);
  padding: .5em 1em 1em 1em;
  border-radius: 1em;
  margin-right: 4em;
  width: 9.5em;
}

header section:nth-of-type(2) P {
  font-family: proximaNovaLight, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--text-color);
}

/* bron voor de toggle switch: https://www.w3schools.com/howto/howto_css_switch.asp  */
header section:nth-of-type(2) label {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

/* de default HTML checkbox niet weergeven*/
header section:nth-of-type(2) label input {
  /* opacity: 0; */
  /* width: 0; */
  /* height: 0; */
  position: absolute;
  left:-9999em;
}

header section:nth-of-type(2) label span{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;                /*KLEUR AANPASSEN */
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2.125em;
}

/* cursor aanpassen bij hover  */
header section:nth-of-type(2) label span:hover{
  cursor: url('../images/cursorPointer.png'), auto;
}

/* Het bolletje in de toggle */
header section:nth-of-type(2) label span:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: var(--bg-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

header section:nth-of-type(2) label input:checked + span {
  background-color: var(--header-secondary-color);
}

header section:nth-of-type(2) label input:focus + span  {
  box-shadow: 0 0 0 .2em var(--header-primary-color);

}


/* bolletje verplaatsen als deze aangeklikt wordt */
header section:nth-of-type(2) label input:checked + span:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}





/*****************************/
/*      HEADER KEYFRAMES     */
/*****************************/

@media (prefers-reduced-motion: no-preference){
  @keyframes springen {
    0% {
      transform:tanslateY(0);
      animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    5% {
      transform:translateY(0) scale(1.2, 0.8);
    }  
    
    50%{
      transform:translateY(-1em);
      animation-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220);
    }
    
    100% {
      transform:tanslateY(0);
    }  
  }

  @keyframes schudden {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-13deg);
    }
    20% {
      transform: rotateZ(8deg);
    }
    25% {
      transform: rotateZ(-8deg);
    }
    30% {
      transform: rotateZ(4deg);
    }
    35% {
      transform: rotateZ(-2deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
}





/********************/
/*       MAIN       */
/********************/

main ol{
  background-size:475em 180em;
  background-repeat:no-repeat;
  background-position:left bottom;
  margin:0;
  padding:2em;
  list-style:none;
  height:100vh;
  display:flex;
  align-items:end;
  width:475em;

  background-image: url('../images/achtergrondBos.png');
}

/* achtergrond aanpassen met dark mode */
.darkmode main ol {
  background-image: url('../images/achtergrondBosDonker.png');
}

main ol li{
  width: 38.5em;
	flex-shrink:0;
  display: flex;
  align-items: end;
  margin: 0 8em 0 0;
}

main ol li>img{
  width: 32em;
}





/**********************/
/*       FIGURE       */
/**********************/

/* Voor de smurfen en het tekstwolkje */
figure{
  z-index: 1;
}

figure img{
  width: 6.5em;
}

figure:focus img{
  filter: drop-shadow(-0.1em 0.25em .2em var(--img-shadow));
  /* outline: none; Werkt niet, ligt aan windows */
}

figcaption{
  font-family: proximaNovaLight, Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  padding: 1.2em;
  border: solid var(--border-color) 1px;
  color: var(--text-color);
  border-radius: 1.5em;
  position: absolute;
  bottom: 12em;
  width: 12.5em;
  opacity: 0;
}

/* toon tekstwolk wanneer de muis over de smurf beweegt */
figure:hover figcaption, 
figure:focus figcaption{
  opacity: 100%;
}

/* voor het driehoekje bij de tekstwolk  */
figcaption::after{
  content: "";
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  background-color: var(--bg-color);
  position: absolute;
  left:2.5em;
  top:calc(100% - .7126em - 1px);
  width: 1.5em;
  height:1.5em;
  transform: rotate(45deg) skew(20deg, 20deg);
  border:solid 1px var(--border-color);
}





/**********************************/
/*  ALLE LIST ITEMS POSITIONEREN  */
/**********************************/

/* List item 1 */
main ol li:nth-of-type(1)>img{
  translate: 0 -4em;
}

main ol li:nth-of-type(1) figure img{
  translate: 0 -4em;
}

main ol li:nth-of-type(1) figure figcaption{
  bottom: 17.5em;
}

/* List item 2 */
main ol li:nth-of-type(2)>img{
  translate: 0 -1em;
}

main ol li:nth-of-type(2) figure img{
  translate: 0 -3em;
}

main ol li:nth-of-type(2) figure figcaption{
  bottom: 16em;
}

/* List item 3 */
main ol li:nth-of-type(3)>img{
  translate: 0 -3.5em;
}

main ol li:nth-of-type(3) figure img{
  translate: 0 -3.2em;
}

main ol li:nth-of-type(3) figure figcaption{
  bottom: 16.6em;
}

/* List item 4 */
main ol li:nth-of-type(4) figure img{
  translate: 0 -1.4em;
  width: 8.3em;
}

main ol li:nth-of-type(4) figure figcaption{
  bottom: 13.9em;
}

/* List item 5 */
main ol li:nth-of-type(5)>img:nth-of-type(1){
  translate: 0 -2.3em;
}

main ol li:nth-of-type(5)>img:nth-of-type(2){
  translate: -32em -2.3em;
  opacity: 0;
}

main ol li:nth-of-type(5)>img:nth-of-type(2):hover{
  opacity: 1;
}

main ol li:nth-of-type(5) figure img{
  translate: 0 -2.5em;
}

main ol li:nth-of-type(5) figure figcaption{
  bottom: 15.8em;
}

/* List item 6 */
main ol li:nth-of-type(6)>img{
  translate: 0 -.2em;
}

main ol li:nth-of-type(6) figure img{
  translate: 0 -1.5em;
  filter: drop-shadow(-0.1em 0.2em .2em var(--img-shadow));
}

main ol li:nth-of-type(6) figure figcaption{
  bottom: 15.2em;
}

/* List item 7 */
main ol li:nth-of-type(7)>img{
  translate: 0 -4em;
}

main ol li:nth-of-type(7) figure img{
  translate: 0 -4em;
  filter: drop-shadow(-0.1em 0.25em .2em var(--img-shadow));
}

main ol li:nth-of-type(7) figure figcaption{
  bottom: 17.5em;
}

/* List item 8 */
main ol li:nth-of-type(8)>img{
  translate: 0 -2em;
  filter: drop-shadow(-0.1em 0.2em .2em var(--img-shadow));

}

main ol li:nth-of-type(8) figure img{
  translate: 0 -3em;
  filter: drop-shadow(-0.1em 0.2em .17em var(--img-shadow));
}

main ol li:nth-of-type(8) figure figcaption{
  bottom: 17em;
}





/**************************/
/*    EXTRA'S ACHTERAAN   */
/**************************/

/* gargamel */
main ol li:nth-of-type(9) img:nth-of-type(1){
  width: 40em;
  translate: 0 4em;
}

/* Smurfen achteraan  */
main ol li:nth-of-type(9) img:nth-of-type(2){
  width: 6em;
  translate: 0 -1.5em;
}

main ol li:nth-of-type(9) img:nth-of-type(3){
  width: 11em;
  translate: 0 -1em;
}