@font-face {
  font-family: "Smurf";
  src:
    url("../fonts/Bazinga-Regular.otf") format("opentype"),
}

/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
	height:100vh;
	width:100%;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:#0055A4;
}





/********************/
/* ALGEMENE STYLING */
/********************/

header{
  position:fixed;
	left:2em;
	top:1em;
	margin:0;
}

h1 {
  color:var(--color-headings);
  font-family: Smurf, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}

ol{
  background-image: url('../images/achtergrondBos.png');
  background-size:475em 180em;
  background-repeat:no-repeat;
  background-position:left bottom;
  margin:0;
  padding:2em;
  list-style:none;
  height:100vh;
  display:flex;
  align-items:end;
  width:475em;
}

ol li{
  width:46em;
	flex-shrink:0;
  display: flex;
  align-items: end;
}

ol li>img{
  width: 28em;
}

/* De huisjes wat hoger/lager */
ol li:nth-of-type(1)>img{
  translate: 0 -3em;
}

ol li:nth-of-type(2)>img{
  translate: 0 -1.5em;
}

ol li:nth-of-type(4)>img{
  translate: 0 -2em;
}



/* Voor de smurfen en het tekstwolkje */
figure img{
  width: 6em;
}

figcaption{
  background-color: white;
  padding: 2em;
  border: solid black 1px;
  border-radius: 10em;
  position: absolute;
  bottom: 12em;
  opacity: 0;
}

figure:hover figcaption{
  opacity: 100%;
}

figcaption::after{
  content: "";
  clip-path: polygon(27% 59%, 28% 73%, 40% 59%);
  background-color: white;
  position: absolute;
  width: 4em;
}




/* Smurfen achteraan  */
ol li:nth-of-type(9) img:nth-of-type(1){
  width: 6em;
}

ol li:nth-of-type(9) img:nth-of-type(2){
  width: 11em;
}



